@media screen and (max-width: 560px){
    .homepage{
        padding: 0.5rem 0;
    }

    .backgroundyellow{
        width: 75%;
        height: 38%;
        right: 0;
        top: 12%;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .navigationbar{
        width: 100%;
        padding: 1.3rem;
    }

    .logo{
        width: 30%;
    }

    .logoname{
        font-size: 1.2rem;
        margin-bottom: 0rem;
    }

    .navigationmenu{
        width: 58%;
        height: 35%;
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        background-color: #253e62e8;  
        box-shadow: 0 0 8px #272727;
        border-radius: 20px;
        padding: 1.8rem 2rem;
        z-index: 3000;
    }

    .navigationmenu a{
        width: 35%;
        height: 25px;
        font-size: 0.6rem;
        margin: 0.1rem 0;
        color: var(--white-color);
        font-weight: 450;
        letter-spacing: 0.005rem;
        font-family: 'Poppins', sans-serif;
        padding: 0.2rem;
        text-align: center;
        line-height: 23px;
        position: relative;
    }

    .navitems:hover::before{
        transform: scaleX(0);
    }

    .formobile{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 5px;
        width: 10%;
    }

    .leftcontainer{
        margin-left: auto;
        width: 4%;
    }

    .themebtn{
        color: var(--white-color);
        font-size: 0.9rem;
    }

    .navbtn{
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 50%;
        color: var(--white-color);
        background-color: transparent;
    }

    .homepagecontent{
        display: flex;
        flex-flow: row wrap;
        margin-top: 0;
        padding: 2rem 1rem 1rem 1rem;
    }

    .paras{
        width: 100%;
        order: 3;
        padding-top: 3.5rem;
        padding-inline: 1rem;
        padding-bottom: 0rem;
    }
    
    .head1{
        font-size: 0.6rem;
        letter-spacing: 0;
        font-weight: 670;
        color: var(--primary-color);
    }

    .head2{
        font-size: 1.1rem;
        width: 80%;
        letter-spacing: 0;
        line-height: 1.5rem;
        margin: 0.5rem 0;
    }

    .hometext{
        font-size: 0.6rem;
        letter-spacing: 0;
    }

    .gallery{
        order: 2;
        width: 85%;
        height: 45%;
        margin: 0;
        border: 2px solid var(--secondary-color);
    }

    .icons{
        order: 1;
        width: 9%;
        height: 35%;
        justify-content: space-evenly;
    }

    .iconitems{
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        color: var(--white-color);
        background-color: var(--secondary-color);
        text-align: center;
        line-height: 1.9rem;
        font-size: 0.8rem;
    }

    .myinput{
        margin-top: 1.7rem;
    }

    .searchinput{
        padding: 0.7rem 0.9rem;
        font-size: 0.6rem;
    }

    .searchbtn{
        padding: 0.7rem;
        font-size: 0.5rem;
    }

    .sponsor{
        width: 100%;
        height: 10%;
        padding: 0 1rem;
        margin-top: 2rem;
    }
    
    .sponsorhead{
        color: var(--primary-color);
        font-family: 'Poppins', sans-serif;
        font-size: 0.6rem;
        font-weight: 450;
        margin-bottom: 0.5rem;
        padding-inline: 1rem;
    }
    
    .sponsorcomp{
        width: 90%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-inline: auto;
    }
    
    .compimg:nth-of-type(5){
        height: 0.9rem;
    }
    
    .compimg:nth-of-type(3){
        height: 0.7rem;
    }

    .flow{
        height: 40vh;
        padding: 2rem 0 0rem 0;
    }
    

    .flowheader{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .flowheader h2{
        font-family: 'Poppins', sans-serif;
        color: var(--title-color);
        font-size: 0.9rem;
    }
    
    
    .flownavigator{
        width: 100%;
        height: 70%;
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .navone{
        width: 30%;
        height: 90%;
    }
    
    .iconone{
        width: 50%;
        aspect-ratio: 1/1;
        background-color: var(--primary-color);
        margin-inline: auto;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .iconone img{
        width: 28%;
        aspect-ratio: 1/1;
    }
    
    .navhead{
        text-align: center;
        margin: 1.2rem 0 0.5rem 0;
        color: var(--title-color);
        font-size: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 450;
    }
    
    .navtext{
        width: 100%;
        padding-inline: 0rem;
        color: var(--paragraph);
        text-align: center;
        font-size: 0.35rem;
    }
    
    .navigationinterset{
        position: absolute;
        width: 100%;
        height: 45%;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Poppins', sans-serif;
        display: flex;
        padding: 1.5rem 2.8rem;
        justify-content: space-evenly;
    }
    
    .navigationinterset p{
        color: var(--primary-color);
        font-size: 0.4rem;
        letter-spacing: 0rem;
    }
    
    .navigationinterset p span{
        color: var(--paragraph);
    }

    .service{
        width: 100%;
        height: 45vh;
        padding: 3rem 2rem 1rem 2rem;
    }
    
    .serviceheader{
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .serviceheadone{
        width: 70%;
    }

    .serviceheadtwo{
        font-size: 0.45rem;
        width: 100%;
    }
    
    .serviceheadone h2{
       font-size: 0.9rem;
       width: 100%;
    }
    
    .serviceviewbtn{
        padding: 0.5rem 0.6rem;
        font-weight: 600;
        font-size: 0.5rem;
        border-radius: 4px;
    }
    
    .servicechoice{
        width: 100%;
        height: 68%;
        display: block;
        margin-top: 3rem;
    }
    
    .servicemenubar{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .servicemenubar a{
        font-size: 0.55rem;
        padding: 0.5rem 0.2rem;
        text-align: center;
    }
    
    .choices{
        height: 70%;
    }
    
    .servicecard{
        width: 32%;
        height: 70%;
        border-radius: 3px;
        padding: 0.1rem;
        display: flex;
        align-items: flex-end;
    }
    
    .featuredbtn{
        padding: 0.2rem 0.5rem;
        font-size: 0.35rem;
        border: 1px solid var(--white-color);
        border-radius: 4px;
    }
    
    .threedbtn{
        padding: 0.2rem;
        border: 1px solid var(--white-color);
        font-size: 0.35rem;
        border-radius: 4px; 
    }

    /* Portfolio */
    .portfolio{
        width: 100%;
        height: 40vh;
        padding: 2rem;
    }
    
    .portfoheader{
        width: 100%;
        text-align: center;
        margin: 1rem 0 1rem 0;
    }
    
    .portfoheader h2{
        color: var(--title-color);
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
    }
    
    .portfogallery{
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        border: 2px solid var(--border-color);
    }
    
    .ownportfolio{
        width: 55%;
        height: 100%;
        position: relative;
    }
    
    .first{
        width: 100%;
        height: 75%;
        background: url(../raws/Portfolio/portfoone.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -10px;
    }
    
    .second{
        width: 80%;
        height: 34%;
        background: url(../raws/Portfolio/portfotwo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.47);
    }
    
    .portfocontent{
        width: 40%;
        height: 94%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding-top: 1rem;
    }
    
    .contentheader{
        width: 100%;
        color: var(--title-color);
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        line-height: 0.8rem;
        margin-bottom: 0 !important;
    }
    
    .contentfooter{
        width: 100%;
        font-family: 'Poppins', sans-serif;
        color: var(--primary-color);
        margin: 0rem 0;
        font-size: 0.3rem
    }
    
    .compensation{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0rem;
        justify-content: space-between;
    }
    
    .compenbox{
        width: 31%;
        margin-bottom: 0rem;
    }
    
    .textone{
        color: var(--title-color);
        font-weight: 500;
        margin-bottom: 0rem !important;
        font-size: 0.3rem;
    }
    
    .texttwo{
        color: var(--paragraph);
        font-weight: 300;
        margin-bottom: 0rem !important;
        font-size: 0.3rem;
    }
    
    .submitbtn{
        width: 100%;
        padding: 0.25rem 0.25rem;
        border: none;
        border-radius: 2px;
        text-align: center;
        color: var(--secondary-color);
        font-weight: 500;
        background-color: var(--primary-color);
        justify-self: end;
        font-size: 0.3rem;
    }

          /* About */
          .about{
            width: 100%;
            height: 100vh;
            padding: 2rem 2rem 3rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    
        .aboutheader{
            width: 100%;
            height: 6%;
        }
    
        .aboutheader h2{
            width: 90%;
            color: var(--title-color);
            font-family: 'Poppins', sans-serif;
            line-height: 1.4rem;
            font-size: 0.9rem;
        }
    
        .reviews{
            width: 100%;
            height: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            margin: 1rem 0 1rem 0;
        }
    
        .reviewone{
            width: 100%;
            height: 32%;
            background-color: transparent;
            border: 2px solid var(--border-color);
            border-radius: 3px;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    
        .rating{
            font-size: 0.5rem;
            color: var(--title-color);
            font-family: 'Poppins', sans-serif;
            margin-bottom: 0.4rem;
        }
    
        .rating span{
            color: var(--primary-color);
        }
    
        .comment{
            width: 100%;
            font-family: 'Poppins', sans-serif;
            color: var(--paragraph);
            margin-bottom: 1rem;
            font-size: 0.35rem;
        }
    
        .bywhom{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
    
        }
    
        .profilebox{
            width: 10%;
            aspect-ratio: 1/1;
            overflow: hidden;
            margin-right: 0.5rem;
        }
    
        .profilebox img{
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border: none;
            object-position: center;
            transform: scale(1);
        }
    
        .possession{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    
        .possession p{
            margin-bottom: 0 !important;
            font-family: 'Poppins', sans-serif;
        }
    
        .possession p:nth-of-type(1){
            font-weight: 600;
            font-size: 0.4rem;
            color: var(--title-color);
        }
    
        .possession p:nth-of-type(2){
            font-weight: 400;
            font-size: 0.35rem;
            color: var(--primary-color);
        }
    
        .supporting{
            width: 100%;
            height: 12%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    
        .sponsorone{
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.2rem;
        }
    
        .sponsorone img{
            width: 12%;
        }
    
        .sponsorone img:nth-of-type(5){
            width: 13%;
        }
    
        .sponsorone img:nth-of-type(3), 
        .sponsorone img:nth-of-type(2){
            width: 8%;
        }
    
        .contact{
            width: 80%;
            align-self: center;
        }
    
        .contact p{
            color: var(--primary-color);
            font-family: 'Poppins', sans-serif;
            text-align: center;
            font-size: 0.4rem;
            line-height: 0.5rem;
        }

            /* contact us */
    .sendus{
        width: 100%;
        height: 60vh;
        padding: 0 1rem;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .sendusheader{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .sendusheader h1{
        font-family: 'Poppins', sans-serif;
        color: var(--secondary-color);
        font-weight: 900;
        margin-bottom: 0.6rem;
        font-size: 1.2rem;
        letter-spacing: 0rem;
    }

    .sendusheader p{
        font-family: 'Poppins', sans-serif;
        color: var(--border-color);
        font-weight: 650;
        margin-bottom: 0 !important;
        font-size: 0.6rem;
    }

    .formemail{
        width: 85%;
        height: 13%;
        display: flex;
        align-items: center;
        background-color: var(--secondary-color);
        padding: 0.3rem 0.9rem 0.3rem 0.3rem;
        border-radius: 18px;
        margin-bottom: 2rem;
    }

    .myform{
        flex-grow: 1;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .myforminput{
        height: 90% !important;
        padding: 0.2rem !important;
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--title-color) !important;
        font-size: 0.5rem;
        font-family: 'Poppins', sans-serif;
    }

    .myforminput:focus{
        outline: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .sendbtn{
        padding: 0.55rem 1.2rem;
        background-color: var(--primary-color);
        border-radius: 50px;
        border: none;
        outline: none;
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-weight: 700;
    }

    .divider{
        width: 95%;
        height: 1.5px;
        background-color: var(--border-color);
        margin-inline: auto;
        margin-top: 3rem;
    }

    .lastnavigator{
        height: 15%;
        width: 100%;
        padding: 2rem 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comlogo{
        width: 60%;
    }

    .comlogo p{
        font-family: 'Poppins', sans-serif;
        color: var(--title-color);
        font-size: 1.1rem;
        margin-bottom: 0 !important;
        text-align: center;
    }

    .comlogo p span{
        color: var(--secondary-color);
        font-weight: 500;
    }

    .navgatormenu{
        width: 65%;
        display: none;
        justify-content: space-between;
        align-items: center;
    }

    .navgatormenu a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: var(--title-color);
        font-size: 0.65rem;
        font-weight: 500;
    }
    .copyrights{
        width: 100%;
        text-align: center;
        margin: 1rem 0 0.5rem 0;
    }

    .copyrights p{
        color: var(--border-color);
        font-family: 'Poppins', sans-serif;
        font-size: 0.4rem;
        font-weight: 600;
    }

    .themebtns{
        width: 7rem;
        height: 1.5rem;
        transform: translateY(60px);
    }

    .themebtns.showtheme{
        transform: translateY(0px);
        opacity: 1;
        pointer-events: all;
    }

    .hidenavbtn{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 2rem;
        height: 2rem;
        bottom: 3%;
        right: 3%;
        border-radius: 50%;
        background-color: var(--button-color);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.571);
        transform: translateY(30px);
        transition: 0.2s ease;
        opacity: 0;
    }

    .hidenavbtn i{
        font-size: 0.7rem;
    }
}